/* common font  */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    border: 0;
    padding: 10px 25px;
}


/* nave related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* header related styles */
.header-class {
    border-color: #FFF8F3;

}

.banner {
    padding: 50px 150px;
    display: flex;
    align-items: center;
}

.text-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.pro-picture{
    width: 500px;
    /* height: 670px; */
}